<div class="container mt-3">
  <div class="banner text-center rounded-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="container">
      <h1 class="text-start">Movie Recommendations</h1>
      <p class="text-start">Movies to enjoy on your night</p>
    </div>
  </div>
  <div class="cards mt-3">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? (cl_image_path list.photo.key) : @movies.sample['poster_url'] %>)">
        <p><%= link_to list.name, list_path(list) %></p>
        <br>
        <%= link_to list_path(list), data: { turbo_method: :delete, turbo_confirm: "Delete?" }, class: 'button_delete' do %>
          <i class="fa-solid fa-trash-can trash-position"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
