<div class="container">
  <div class="card rounded mx-auto mt-5 p-3 shadow">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie %>
      <%= f.input :comment %>
      <%= f.submit class: 'btn btn-primary mt-3' %>
    <% end %>
  </div>
</div>
