.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0px;
  z-index: 500;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.button_margin {
  margin-right: 16px;
  margin-top: 12px;
  color: lightslategray;
}

.links {
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 24px;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
}

.links:before {
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.links:hover {
 background-position: 0;
}

.links:hover::before {
  width:100%;
}
